{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R-COLOMBIA</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %} "type="text/css">
    <link rel="shortcut icon" href="{%static 'img/icons/favicon.ico'%}" type="image/x-icon">
</head>
<body>
    <img src="{%static '/img/img_R/R_black.png'%}" alt="">
    <div class="login-box">
        <form action="" method="post">
            <h1>Iniciar sesión</h1>
            <input type="text" name="username" placeholder="Correo electrónico">            
            <label for="mail-name">Correo electrónico</label>
            <input type="password" name="password" placeholder="Contraseña">
            <label for="password">Contraseña</label>
            <button type="submit", class="button-send-login">Iniciar sesión</button>
        </form>
    </div>
    
    <div class="login-welcome">
        <p>¿Eres nuev en R-COLOMBIA?</p>
        <a href="{%url 'create_account'%}">Crear cuenta</a>
    </div>
</body>
</html>
